Widget {
    background: #1a1b26;
    color: #c0caf5;
}

Bar {
    height: 1fr;
    max-height: 7;
    width: 100%;
    content-align: center middle;
}

        Bar Label {
            width: 100%;
            content-align: center middle;
        }

        Bar Digits {
            width: 14;
            text-align: center;
            color: #ffb86c
        }

        Bar ProgressBar {
            width: 100%;
            content-align: center middle;
        }

    Ram {
        width: 16;
        height: 7;
        content-align: center middle;
        border: round #bd93f9;
    }

    #disks {
        width: auto;
        height: 7;
        content-align: center middle;
        padding-left: 1;
        border: round #bd93f9;
        
    }
    
    Disk {
        width: 14;
        height: 5;
        margin-right: 1;
        content-align: center middle;
    }

    Cpu {
        width: 21;
        height: 7;
        content-align: center middle;
        border: round #bd93f9;
    }

        Cpu HorizontalGroup {
            height: 3;
            width: 100%;
        }

            Cpu Digits {
                width: 11;
                text-align: center;
            }

            Cpu VerticalGroup {
                margin-top: 1;
                width: 8;
            }

QuickDash TabbedContent {
    margin-top: 1;
    height: 1fr;
    width: 100%;
}

    Tabs {
        height: 2;
    }

    Tab {
        color: #6272a4;
    }

    Tab.-active {
        color: #50fa7b;
        text-style: bold;
    }

    .underline--bar {
        # display: none;
        color: #ff79c6;
        background: #6272a4;
    }

    Custom {
        height: 1fr;
        width: 1fr;
    }
        RichLog {
            border: round #6272a4;
            scrollbar-background: transparent;
        }
        RichLog:focus {
            background: transparent;
        }

    Command {
        border: round #ff79c6;
    }